body {
  margin: 0;
  background-color: black;
  height: 100vh;
}

header img {
  width: 70px;
  height: 70px;
  border: 3px solid rgb(43, 3, 43);
  border-radius: 50%;
}

footer {
  background-color: rgb(75, 75, 75);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid rgb(43, 3, 43);
}

div,
h1 {
  color: lavender;
  font-family: "Birthstone", cursive;
  font-style: normal;
  font-size: 2.2rem;
  margin-left: 30px;
}

a {
  text-decoration: none;
}

footer img {
  width: 30px;
  height: 30px;
  margin-left: 20px;

  margin-bottom: -10px;
}

header {
  display: flex;
  justify-content: space-around;
}

h1 {
  text-align: center;
  font-size: 4rem;
  margin: 14px 0px;
}

.btn {
  width: 300px;
  height: 100px;
  background: linear-gradient(to left, rgb(114, 183, 206), rgb(153, 63, 153));
  font-size: 2.5rem;
  text-shadow: 1px 1px 1px black;
  margin: 0px 5px 5px 5px;
  border-radius: 10px;
}

.btn-set {
  margin: 50px 150px;
  display: flex;
  flex-wrap: wrap;
}

.btn:hover {
  cursor: pointer;
  background: linear-gradient(to right, blue, aqua);
  transition: transform 6s ease-in;
  font-size: 3.8rem;
  border: 2px solid white;
  width: 310px;
  height: 110px;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.logo img {
  margin-left: 100px;
  float: left;
  border-radius: 20px;
  border: 5px solid rgb(0, 221, 55);
  width: 200px;
  height: 300px;
}

.about,
.assignment {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 800px;
  margin-left: 220px;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  background-color: rgba(8, 252, 61, 0.956);
}
.about h2 p {
  font-size: 25px;
}

h2 {
  margin-bottom: 10px;
}
nav ol {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ol li a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  padding: 5px 30px;
  border-radius: 10px;
  font-weight: bold;
}

nav ol li a:hover {
  background-color: #eeff00;
  transition: background-color 0.3s ease;
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: gray;
  color: white;
  margin-top: 20px;
}
.about img {
  max-width: 5%;
}
.about a {
  text-decoration: none;
}
